﻿@model IEnumerable<AnimalGame.Models.Animal>

@{
    ViewBag.Title = "Kids-Guess The Animal Game";
}
<div>
    <h4>Kids, here is the list of animals.Please choose one and keep it in your mind. Press <b>Start</b> to start the game.</h4>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <br />
    <ul>

        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.Name)

            </li>
        }
    </ul>
    <br />

    <p>@Html.ActionLink("Start", "Index", "Question", null, htmlAttributes: new { @class = "btn btn-default" })</p>

</div>



