﻿
@{
    ViewBag.Title = "Kids-Guess The Animal Game";
}

@using (Html.BeginForm("Index", "Question", FormMethod.Post))
{
    <div >
        <h4>Question 1</h4>
        <div >
            <p class="col-lg2 control-label">What's the color of the Animal.</p>
            @Html.DropDownList("AnimalColor", new SelectList(ViewBag.Colors), htmlAttributes: new { @class = "form-control" })

        </div>

        <h4>Question 2</h4>
        <div>
            <p class="col-lg2 control-label">Animal has:</p>
            @Html.DropDownList("AnimalFeature", new SelectList(ViewBag.Features), htmlAttributes: new { @class = "form-control" })

        </div>

        <h4>Question 3</h4>
        <div>
            <p class="col-lg2 control-label">What is the sound that animal makes.</p>
            @Html.DropDownList("AnimalSound", new SelectList(ViewBag.Sounds), htmlAttributes: new { @class = "form-control" })

        </div>
        <br />
        <div>
            <p>
                <input type="submit" value="Submit" class="btn btn-default" />
            </p>
        </div>
    </div>


}
