﻿@{
    ViewBag.Title = "Kids-Guess The Animal Game";
}

<div class="jumbotron">
    <h1>Kids-Guess The Animal Game</h1>
   <p class="lead">This is a small game for kids to answer some question based on the animal that they have thought and we will predict what the animal was.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is a small game for kids to answer some question based on the animal that have thought and we will predict what the animal was. Below is the list of Animals and kids can choose any one of them and keep in there mind. Press OK and answer few questions on the next screen based on what they do, color and there features.
            After they have answerd the questions , the system will let you know what animal you chose. Isn't it fun. Give it a try.
        </p>
        <p>@Html.ActionLink("Try it!","Index","Animal",null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    
</div>